body, html {
  margin: 0;
  padding: 0;
}

nav {
  height: 120px;
  background: #008080;
  display: content;
  justify-content: flex-end;
  align-items: center;
  font-size: 26px;
  color: #333;
  text-align: right;
  padding: 0rem calc((100vw -1300px)/2);
}

body {
  background-color: #F0FFFF;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin-bottom: 40px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
